.App {
  text-align: center;
  font-family: 'Roboto';
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

[class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.loader {
  left: 300px;
  top: 400pc;
}