.movie-card-container {
    background-color: #1A1F26;
    margin-top: 3%;
    margin-bottom: 3%;
    color: #be8484;
    user-select: none;
    overflow-x: scroll;
    white-space: nowrap;
}

.movie-card-container-inner {
    background-color: #1A1F26;
    display: inline-block;
    margin: 3%;
    color: #be8484;
    user-select: none;
    border: 1px solid black;
}

.data-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.data-table td,
.data-table th {
    border: 1px solid rgb(78, 71, 71);
    padding: 8px;
}