.card-container {
    background-color: #1A1F26;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 5px;
    color: #be8484;
    user-select: none;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(219, 138, 138, 0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
    transition: all linear 0.05s;
    transform-origin: 50% 50% 0px;
}

.card-header {
    border-bottom: 1px solid black;
    color: #be8484;
    height: 50px;
    font-weight: bolder;
}

.card-text {
    color: #b1aaaa;
    overflow-y: scroll;
    padding: 15px;
    height: calc(100% - 50px);
}

.default-card-height {
    height: 200px;
}

.ml-25 {
    margin-left: 25%;
}

.ml--10 {
    margin-left: -10%;
}

.cursor {
    cursor: pointer;
}