.description {
    background-color: #24292e;
    height: 100vh;
    overflow-y: scroll;
    text-align: left;
}

.description-header {
    font-size: 2vw;
    color: #358583; 
    font-weight: bolder; 
    padding: 0px 20px;
}
.description-text {
    color: #CAC7E9;
    padding: 0px 20px;
}
#text-content {
    height: 50%;
}
